<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BruTile" version="0.16.0" targetFramework="net452" />
  <package id="GeoJSON.Net" version="0.1.47" targetFramework="net452" />
  <package id="mapbox-vector-tile" version="3.1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="OpenTK" version="1.1.2225.0" targetFramework="net452" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" />
  <package id="quantized-mesh-tile" version="0.1.1" targetFramework="net452" />
</packages>